<template>
  <div class="box2">
    {{ fullName }}
  </div>
</template>

<script>
export default {
  // Variables globales internas del componente
  data() {
    return {
      name: "",
      lastName: ""
    };
  },
  // Variables globales recibidas como atributos
  props: {
    edad: {
      type: Number,
      required: true
    }
  },
  // Variables que se modifican automáticamente al variar cualquiera de las variables que contiene
  computed: {
    fullName() {
      return this.name + "" + this.lastName;
    }
  },
  // Evento que se lanza cuando cambia el valor de la propiedad que lo define
  watch: {
    name(newValue, oldValue) {
      this.getUser(newValue);
    }
  },
  methods: {
    getName() {
      this.name = this.fullName;
    }
  }
};
</script>

<style lang="scss" scoped></style>
