<template>
  <div>
    <div>
      <input type="text" v-model="search" placeholder="Buscador de nombres" />
      <button @click="buscarNombre()">Buscar</button>
    </div>
    <div>
      <!-- Al poner filteredPersons en lugar de persons, indico que quiero que el bucle sea dentro de filteredPersons -->
      <h1
        v-for="(person, key) in filteredPersons"
        :key="key"
        @click="goToPerson(key + 1)"
      >
        {{ person.name }} | {{ person.height }}
      </h1>
    </div>
  </div>
</template>

<script>
import PersonService from "@/services/person.service";

export default {
  // Invoco al componente search

  async created() {
    this.getPersons();
  },

  data() {
    return {
      loading: false,
      persons: null,
      search: ""
    };
  },
  methods: {
    async getPersons() {
      try {
        this.loading = true;
        this.persons = null;
        this.persons = await PersonService.getPersons();
        // console.log(this.persons);
      } catch (error) {
        this.error = error.message;
      } finally {
        this.loading = false;
      }
    },
    goToPerson(idPerson) {
      this.$router.push({ name: "person", params: { id: idPerson } });
    }
  },

  computed: {
    // Con este computed saco la función para hacer el filtrado de los personajes por nombre
    filteredPersons: function() {
      if (this.persons) {
        return this.persons.filter(person => {
          return person.name.toLowerCase().includes(this.search.toLowerCase());
        });
      } else {
        return [];
      }
    }
  }
};
</script>

<style scoped>
h1 {
  cursor: pointer;
}
</style>
