<template>
  <div>
    <form @submit.prevent="getUser">
      <input v-model="idPeople" type="text" />
      <button>Buscar</button>
    </form>
    <br />

    <div v-if="loading">Loading</div>
    <div v-if="people">
      <div>
        <table style="width:100%">
          <tr>
            <th>Nombre</th>
            <th>Altura</th>
            <th>Peso</th>
            <th>Genero</th>
            <th>Color de piel</th>
            <th>Planeta</th>
            <th>Especie</th>
          </tr>
          <tr>
            <td>{{ people.nombre }}</td>
            <td>{{ people.altura }}</td>
            <td>{{ people.peso }}</td>
            <td>{{ people.genero | capitalize }}</td>
            <td>{{ people.piel | capitalize }}</td>
            <td>{{ people.planeta | capitalize }}</td>
            <td>{{ people.especie | capitalize }}</td>
          </tr>
        </table>
      </div>
      <br />
    </div>
    <div v-if="error">{{ error }}</div>
  </div>
</template>

<script>
import PeopleService from "@/services/people.service";

export default {
  async created() {
    this.idPeople = null;
    this.getUser();
  },

  data() {
    return {
      people: null,
      loading: false,
      error: null,
      idPeople: null
    };
  },
  filters: {
    // filter añadido para que la primera letra me salga mayuscula
    capitalize: function(value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    }
  },
  methods: {
    async getUser() {
      try {
        this.loading = true;
        this.people = null;
        this.error = null;
        this.people = await PeopleService.getPeople(this.idPeople);
      } catch (error) {
        this.error = error.message;
      } finally {
        this.idPeople = null;
        this.loading = false;
      }
    }
  }
};
</script>

<style scoped></style>
