<template>
    <div>
        <h1>Hola por la carretera</h1>

            <jvButton type="success" size="big" @click="openModal()">Este es un button "success/big"</jvButton>
    </div>
</template>

<script>
import jvButton from "@/components/button.vue"; // Importo al componente button

    export default {
        components: {
            jvButton
        }
    }
</script>

<style lang="scss" scoped>

</style>