<template>
  <div>
    <h3>Modo array</h3>

    <div v-if="peopleArray.length > 0">
      <!-- Detecta que el id es mayor que 0 -->
      <div v-for="(p, index) in peopleArray" :key="index">
        <div><b>Nombre:</b> {{ p.nombre }}</div>
        <div><b>Altura:</b> {{ p.altura }}</div>
        <div><b>Peso:</b> {{ p.peso }}</div>
        <div><b>Genero:</b> {{ p.genero }}</div>
        <div><b>Piel:</b> {{ p.piel }}</div>
        <div><b>Especie:</b> {{ p.especie }}</div>
        <div><b>Planeta:</b> {{ p.planeta }}</div>
        <!-- Con el type modifico el tipo de button
        Con el size modifico el tamaño de la fuente
        Estos valores los he definido en mi componente button.vue -->
      </div>
    </div>
    <div v-else>
      <i>Loading People...</i>
    </div>
    <br />
    <jvButton type="success" size="big" @click="openModal()"
      >Este es un button "success/big"</jvButton
    >
    <!-- con el @click="openModal()" estoy llamando al método openModal(),
    que me convierte el this.showModal a true (en principio showModal: false -->

    <!-- con :title="peopleObject.nombre" saco el nombre del Objeto people-->
    <!-- el contenido de este jvModal irá en el slot del componente modal-->
    <!-- para llamar a la id de la imagen llamo a la funcion getImageURL(peopleObject.id)-->
    <jvModal2
      :title="peopleObject.nombre"
      v-if="showModal"
      @close="showModal = false"
    >
          <template slot="position">
            <p>
              <i>CEO</i>
            </p>
          </template>
          <template slot="phrase">
            <p>
              <b>El dinero no es el objetivo, sino la recompensa a un trabajo bien hecho</b>
            </p>
          </template>
          <template slot="name">
            <h1>Álvaro</h1>
          </template>
    </jvModal2>





    
    <jvButton type="warning" size="medium" @click="openModal()"
      >Este es un button "warning/medium"</jvButton
    >



    <jvButton type="danger" size="small"
      >Este es un button "danger/small"</jvButton
    >
    <jvButton size="mini">Este es un button "mini" y sin type</jvButton>
    <hr />
    ---
    <hr />
    <br />
    <h3>Modo objeto - prueba gitKraken</h3>


    <div v-if="peopleObject != null">
      <div v-for="(p, index) in peopleObject" :key="index">
        {{ p }}
      </div>
    </div>
    <div v-else>
      <i>Loading People...</i>
    </div>

    <hr>
    Ahora voy a hacer que me de el nombre del Objeto
    <hr>
    
        <div v-if="peopleObject != null">
      <div>
        {{ peopleObject.nombre }}
      </div>
    </div>
    <div v-else>
      <i>Loading People...</i>
    </div>

<hr>

    <div>
        <h1>Filters & Mixins</h1>
        <input v-model="filterText">
        <ul>
            <li v-for="f in filteredFruits">{{ f }}</li>

        </ul>
    </div>

  </div>







</template>

<script>
/* eslint-disable */

import PeopleService from "@/services/people.service"; // Importo al servicio people
import jvButton from "@/components/button.vue"; // Importo al componente button
import jvModal2 from "@/components/modal2.vue";

import fruitMixin from '@/fruitMixin';



export default {
  // Invoco al componente button
  components: {
    jvButton,
    jvModal2
  },

  mixins: [fruitMixin],
        created() {
            console.log('Inside List Created Hook');
        },

  data() {
    return {
      userId: null,
      loading: false,
      peopleArray: [], // Para obtener los valores como array
      peopleObject: null, // Para que los valores que devuelva sean como array o como objeto
      error: null,
      showModal: false // De esta forma no se me abre el modal,
      // y cuando haga el method openModal ya se me converte en true
    };
  },
  mounted() {
    this.userId = this.$route.params.id; // el userId corresponde con el último número de la url
    this.getUser();
  },
  methods: {
    openModal() {
      console.log("openModal");
      this.showModal = true;
    },
     getImageUrl(id) {
      return require(`@/assets/${id}.jpg`);
    },
    async getUser() {
      try {
        this.loading = true;
        this.people = null;
        this.error = null;
        let person = await PeopleService.getPeople(this.userId); // Hace la petición sobre el userID
        this.peopleArray.push(person); // Añadir al array
        this.peopleObject = person; // Asignar a objeto
        this.peopleObject.id = this.userId; // Le asigno el id al objeto usuario
      } catch (error) {
        this.error = error.message;
      } finally {
        this.userId = null;
        this.loading = false;
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>
