<template>
  <div>
    <jvSearch name="Componente search"></jvSearch>
    <jvButton type="warning" size="medium">Prueba "warning/medium"</jvButton>
    <hr />
    <h1
      v-for="(person, key) in persons"
      :key="key"
      @click="goToPerson(key + 1)"
    >
      {{ person.name }} | {{ person.height }}
    </h1>
  </div>
</template>

<script>
import PersonService from "@/services/person.service";
import jvButton from "@/components/button.vue"; // Importo el componente button para prueba
import jvSearch from "@/components/search.vue"; // Importo el componente search

export default {
  // Invoco al componente search
  components: {
    jvButton,
    jvSearch
  },

  async created() {
    this.getPersons();
  },

  data() {
    return {
      loading: false,
      persons: null
    };
  },
  methods: {
    async getPersons() {
      try {
        this.loading = true;
        this.persons = null;
        this.persons = await PersonService.getPersons();
        console.log(this.persons);
      } catch (error) {
        this.error = error.message;
      } finally {
        this.loading = false;
      }
    },
    goToPerson(idPerson) {
      this.$router.push({ name: "person", params: { id: idPerson } });
    }
  }
};
</script>

<style scoped>
h1 {
  cursor: pointer;
}
</style>
