<template>
  <div>
    <!-- Muestro los objetos sacados del servicio busquedaName -->
    <div v-if="peopleObject != null">
      <div v-for="(p, index) in peopleObject" :key="index">
        <h3>Nombre: {{ p.name }}</h3>
      </div>
    </div>
  </div>
</template>

<script>
import BusquedaNameService from "@/services/busquedaName.service";

export default {
  data() {
    return {
      search: null,
      loading: false,
      peopleObject: null, // Para que los valores que devuelva sean como array o como objeto
      error: null
    };
  },
  mounted() {
    this.search = this.$route.params.name; // Parámetro que toma en cuenta al hacer la búsqueda en el componente search.vue
    this.getUser();
  },
  methods: {
    async getUser() {
      try {
        this.loading = true;
        this.people = null;
        this.error = null;
        let person = await BusquedaNameService.getName(this.search); // Los valores que toma para el nombre los saco del componente search.vue
        this.peopleObject = person; // Asignar a objeto
        this.peopleObject.id = this.userId; // Le asigno el id al objeto usuario
      } catch (error) {
        this.error = error.message;
      } finally {
        this.userId = null;
        this.loading = false;
      }
    }
  }
};
</script>

<style scoped></style>
