// Voy a crear un componente button para ponerselo a la página de un único
personaje

<template>
  <div>
    <!-- con el @click="$emit('click') estoy llamando al componente "modal" -->
    <!-- Con el button de la clase jv-button tengo el componente "jv-button", al ponerle :class="buttonClass"  estoy llamando al computed buttonClass() -->
    <button class="jv-button" :class="buttonClass" @click="$emit('click')">
      <!-- Al poner el <slot></slot> puedo meter contenido dentro de este button -->
      <slot></slot>
    </button>
  </div>
</template>

<script>
export default {
  // Defino los props del button (prop = atributo), en este caso tengo type (success/warning/danger...) y size (big/medium/small...)
  props: {
    type: {
      type: String,
      default: ""
    },
    size: {
      type: String,
      default: ""
    }
  },
  // Con el computed puedo cambiar el valor del componente, en este caso al cambiar this.type y this.size estoy cambiando el type y size del button
  computed: {
    buttonClass() {
      return [`jv-button--${this.type}`, `jv-button--${this.size}`];
    }
  }
};
</script>

<style scoped>
/* Estilo general del componente */

.jv-button {
  background-color: blue;
  color: white;
  border: 0;
  border-radius: 2px;
  padding: 0 20px;
  margin: 25px;
  cursor: pointer;
}

/* Estilos dependiendo del type y size del componente, esto se ha utilizado siguiendo la metodología bem: http://getbem.com/ */

.jv-button--success {
  background-color: green;
}
.jv-button--warning {
  background-color: orange;
}
.jv-button--danger {
  background-color: red;
}
.jv-button--big {
  font-size: 18px;
}
.jv-button--medium {
  font-size: 18px;
}
.jv-button--small {
  font-size: 18px;
}
.jv-button--mini {
  font-size: 18px;
}
</style>
