<template>
  <div>
    <div class="modal">
      <div class="modal__background">
        <div class="modal__content">
          <div class="modal__header">
            <div class="modal__header__title">
              {{ title }}
            </div>
            <div class="modal__header__close" @click="$emit('close')">x</div>
            <!-- con el @click="$emit('close') cierro el modal -> el close llama a @close="showModal = false" [person.vue] -->
          </div>
          <div class="modal__body">
            <!-- En el slot me meterá el contenido que he definido dentro de mi jvModal en person.vue -->
            <slot></slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      showModal: false
    };
  },

  props: {
    title: {
      type: String,
      default: ""
    }
  }
};
</script>

<style scoped>
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.modal__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  min-width: 300px;
  background-color: white;
  color: black;
  box-shadow: 0 10px 10px black;
  border-radius: 10px;
  overflow: hidden;
}

.modal__header {
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__body {
  padding: 10px;
}

.modal__footer {
  padding: 10px;
  border-top: 1px solid #ccc;
}

.modal__header__close {
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  /* Con cursor puedo cambiar la apariencia del cursor */
  cursor: pointer;
}

.modal__header__title {
  padding-left: 10px;
}
</style>
