// Voy a crear un componente search para buscar al personaje por id

<template>
  <div>
    <!-- Con v-model="search" estoy cambiando el valor del dato search Con
    @click="buscarNombre()" estoy llamando al metodo -->
    <form>
      <input type="text" v-model="search" :placeholder="name" />
      <button @click="buscarNombre()">Buscar</button>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      search: ""
    };
  },

  props: {
    name: {
      type: String,
      default: ""
    }
  },

  methods: {
    // con el metodo buscarNombre() estoy indicando el nombre y parametro a tener en cuenta al lanzar la peticion
    buscarNombre() {
      this.$router.push({ name: "searchname", params: { name: this.search } });
    }
  }
};
</script>

<style lang="scss" scoped></style>
